<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>PostAction</servlet-name>
        <servlet-class>com.post.PostAction</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Opinion_Mining</servlet-name>
        <servlet-class>com.graph.Opinion_Mining</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>PostAction</servlet-name>
        <url-pattern>/PostAction</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Opinion_Mining</servlet-name>
        <url-pattern>/Opinion_Mining</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
